@page
@model HomeModel
@{
    ViewData["Title"] = "Harian Kompas";
}

<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
<link rel="icon" href="~/favicon.ico" type="image/x-icon">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="blockquote">This is home dashboard !</h2>
</div>