@page
@model IndexModel
@{
    ViewData["Title"] = "Harian Kompas";
}

<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
<link rel="icon" href="~/favicon.ico" type="image/x-icon">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="blockquote">Log in to your account !</h2>
    <p>Learn about building Web applications with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>