html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group {
    margin-bottom: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    line-height: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    margin-bottom: 30px;
    color: white;
    background-color: #e8CB73;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e2B836;
}

.table thead tr th {
    background-color: #e2B836;
    color: #005993;
}

.detail-box {
    background-color: #e2B836;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #005993;
}

h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

dl {
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dd {
    margin-bottom: 10px;
}

.button {
    background-color: #e2B836;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #e2B836;
}

.button1:hover {
    background-color: #e2B836;
    color: white;
}