@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="blockquote">Log in to your account !</h2>
    <form action="/FinanceReceiving">
        @* method="post" *@
        <div class="form-group">
            <label for="username">User id (Email)</label>
            <input type="text" id="username" name="username" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <p>Do not have an account? <a href="/Register">Register</a></p>
</div>